.news-page-layout {
    flex-grow: 1;
    padding-top: 102px;
    text-align: center;

    .news-container {
        margin-bottom: 16px;
    }

    .button-load-more {
        margin-bottom: 72px;
    }
}